{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "ReadInfrastructureMetadata",
      "Effect": "Allow",
      "Action": [
        "ec2:Describe*",
        "ec2:GetSecurityGroupsForVpc",
        "ecs:Describe*",
        "ecs:List*",
        "elasticloadbalancing:Describe*",
        "acm:DescribeCertificate",
        "acm:ListCertificates",
        "acm:ListTagsForCertificate",
        "acm:GetAccountConfiguration",
        "logs:DescribeLogGroups",
        "logs:DescribeLogStreams",
        "logs:DescribeMetricFilters",
        "logs:DescribeSubscriptionFilters",
        "logs:DescribeResourcePolicies",
        "logs:ListTagsForResource",
        "logs:ListTagsLogGroup",
        "servicediscovery:Get*",
        "servicediscovery:List*",
        "route53:GetHostedZone",
        "route53:GetHostedZoneCount",
        "route53:GetChange",
        "route53:ListHostedZones",
        "route53:ListHostedZonesByName",
        "route53:ListHostedZonesByVPC",
        "route53:ListResourceRecordSets",
        "route53:ListTagsForResource",
        "rds:Describe*",
        "rds:ListTagsForResource",
        "s3:ListAllMyBuckets",
        "s3:GetBucketLocation",
        "kms:DescribeKey",
        "kms:GetKeyPolicy",
        "kms:GetKeyRotationStatus",
        "kms:ListAliases",
        "kms:ListGrants",
        "kms:ListKeyPolicies",
        "kms:ListKeys",
        "kms:ListResourceTags",
        "secretsmanager:DescribeSecret",
        "secretsmanager:GetResourcePolicy",
        "secretsmanager:ListSecrets",
        "secretsmanager:ListSecretVersionIds",
        "backup:Describe*",
        "backup:List*",
        "backup:GetBackupPlan",
        "backup:GetBackupSelection",
        "backup:GetBackupVaultAccessPolicy",
        "backup:GetBackupVaultNotifications",
        "cloudwatch:DescribeAlarms",
        "cloudwatch:DescribeAlarmsForMetric",
        "cloudwatch:GetMetricData",
        "cloudwatch:ListMetrics",
        "cloudwatch:ListTagsForResource",
        "sns:GetTopicAttributes",
        "sns:GetSubscriptionAttributes",
        "sns:GetDataProtectionPolicy",
        "sns:ListTopics",
        "sns:ListSubscriptions",
        "sns:ListSubscriptionsByTopic",
        "sns:ListTagsForResource",
        "events:DescribeEventBus",
        "events:DescribeRule",
        "events:ListRules",
        "events:ListTargetsByRule",
        "events:ListTagsForResource",
        "scheduler:GetSchedule",
        "scheduler:GetScheduleGroup",
        "scheduler:ListSchedules",
        "scheduler:ListScheduleGroups",
        "scheduler:ListTagsForResource",
        "iam:GetRole",
        "iam:GetRolePolicy",
        "iam:GetPolicy",
        "iam:GetPolicyVersion",
        "iam:ListRoles",
        "iam:ListRolePolicies",
        "iam:ListAttachedRolePolicies",
        "iam:ListRoleTags",
        "iam:ListPolicies",
        "iam:ListPolicyVersions",
        "iam:ListPolicyTags",
        "iam:ListInstanceProfilesForRole",
        "tag:GetResources",
        "tag:GetTagKeys",
        "tag:GetTagValues",
        "sts:GetCallerIdentity"
      ],
      "Resource": "*"
    }
  ]
}
