{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "${environment}Alarms",
      "Effect": "Allow",
      "Action": [
        "cloudwatch:PutMetricAlarm",
        "cloudwatch:PutCompositeAlarm",
        "cloudwatch:DeleteAlarms",
        "cloudwatch:EnableAlarmActions",
        "cloudwatch:DisableAlarmActions",
        "cloudwatch:SetAlarmState",
        "cloudwatch:TagResource",
        "cloudwatch:UntagResource"
      ],
      "Resource": "arn:aws:cloudwatch:${region}:${account_id}:alarm:${prefix}-*"
    },
    {
      "Sid": "${environment}Topics",
      "Effect": "Allow",
      "Action": [
        "sns:CreateTopic",
        "sns:DeleteTopic",
        "sns:SetTopicAttributes",
        "sns:PutDataProtectionPolicy",
        "sns:Subscribe",
        "sns:Unsubscribe",
        "sns:SetSubscriptionAttributes",
        "sns:TagResource",
        "sns:UntagResource"
      ],
      "Resource": "arn:aws:sns:${region}:${account_id}:${prefix}-*"
    },
    {
      "Sid": "${environment}EventRules",
      "Effect": "Allow",
      "Action": [
        "events:PutRule",
        "events:DeleteRule",
        "events:EnableRule",
        "events:DisableRule",
        "events:PutTargets",
        "events:RemoveTargets",
        "events:TagResource",
        "events:UntagResource"
      ],
      "Resource": "arn:aws:events:${region}:${account_id}:rule/${prefix}-*"
    },
    {
      "Sid": "${environment}Schedules",
      "Effect": "Allow",
      "Action": [
        "scheduler:CreateScheduleGroup",
        "scheduler:DeleteScheduleGroup",
        "scheduler:CreateSchedule",
        "scheduler:UpdateSchedule",
        "scheduler:DeleteSchedule",
        "scheduler:TagResource",
        "scheduler:UntagResource"
      ],
      "Resource": [
        "arn:aws:scheduler:${region}:${account_id}:schedule-group/${prefix}",
        "arn:aws:scheduler:${region}:${account_id}:schedule/${prefix}/*"
      ]
    }
  ]
}
